.wrapper{
    background-image: url(../public/banner-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 720px;
}
.App{
    cursor: pointer;
    position: relative;
    overflow-x: clip;
}
.App>:nth-child(1){
    position: relative;
}